header {
  top: 0;
  left: 0;
  right: 0;
}

.game-section .row{
  justify-content: center;
  align-items: center;
}

.character-select, 
.enemy-select,
.defender {
  position: relative;
  border: 1px solid silver;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 310px;
}

@keyframes upDown {
    from { top: 4px; }
    to { top: 1px; }
}

.skill-up {
  color: #f0ad4e;
  animation-name: upDown;
  animation-duration: 0.6s;
  animation-iteration-count: infinite;
  position: absolute;
  top: 0
  font-size:17px
  font-weight: bold;
  right: 10px;
}
.fa-angle-double-down {
  color: red;
}

.verticaltext {
    transform: rotate(-90deg);
    transform-origin: right, top;
    -ms-transform: rotate(-90deg);
    -ms-transform-origin:right, top;
    -webkit-transform: rotate(-90deg);
    -webkit-transform-origin:right, top;
    position: absolute; 
    color: #ed217c;
}
.handwriting {
  font-family: 'Romanesco', cursive;
}
.section-label {
  position: absolute;
  width: 40px;
  left: 0;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-label span {
  display: block;
}
.section-label p {
  font-family: 'Love Ya Like A Sister', cursive;
  text-transform: uppercase;
  color: black;
  font-size: 20px;
}

.character-select {
  background-image: url(../images/army-left-2.jpg);
}
.enemy-select {
  background-image: url(../images/army-3.jpg);
  background-position: 0;
}
.defender {
  background-image: url(../images/battle-2.jpg);
  background-position: 0 center;
}
#tips-alert {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  text-align: left;
  padding: .75rem 1.25rem .75rem;
  width: 35%;
  font-size: 20px;
}
#tips-alert .fa {
  font-size: 15px;
}

.card {
  border: 1px solid silver;
  display: flex;
  align-items: center;
  margin: 10px auto;
  cursor: pointer;
  -webkit-box-shadow: 0 10px 6px -6px #555;
  -moz-box-shadow: 0 10px 6px -6px #555;
  box-shadow: 0 10px 6px -6px #555;
  max-width: 160px;
}
.character-select .card:hover {
  border: 3px solid gold;
}

.attack-col {
  text-align: center;
}

.hero.card {
  border: 3px solid gold;
  cursor: default;
}
.defender .card {
  border: 3px solid red;
}
.hero .card-title,
.defender .card-title {
  font-weight: bold;
}

.enemy-select .card {
  border-color: red;
  padding: 5px;
  max-width: 125px;
}

.defender .card {
  cursor: default;
}

.card-title {
  font-size: 14px;
  margin: 0;
}

.card-block {
  padding: 10px;
}

.avatar {
  position: relative;
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 150px;
  height: 150px;
  max-width: 100%;
  margin-top: 5px;
}
.enemy-select .avatar {
  width: 100px;
  height: 100px;
}
.enemy-select .card-col {
  padding: 5px;
}

@media (min-width: 992px) {

}

.army-size {
  color: black;
  font-size: 12px;
}

.card .stats {
  display: none;
}

.card-0 .avatar {
  background-image: url('../images/daenerys.jpg');
  background-position: -21px -32px;
}
.card-1 .avatar {
  background-image: url('../images/jon_snow.png');
  background-position: -145px -118px;
}
.card-2 .avatar {
  background-image: url('../images/cersie.jpg');
  background-position: -64px -26px;
}
.card-3 .avatar {
  background-image: url('../images/night_king.jpg');
  background-position: -68px -77px;
}

.fa.adjust {
  color: green;
}

.fa.minus-adjust {
  color: red;
}

.fa.hurt {
  color: red;
}

.hidden {
  display: none;
}

#endGameModal .ending-picture {
  min-height: 250px;
  height: 100px;
  width: 400px;
  max-width: 100%;
  margin: 0 auto;
}
#endGameModal .ending-speech {
  width: 400px;
  margin: 10px auto;
}
.ending-picture.card-0 {
  background-image: url('../images/danny-won.jpg');
}
.ending-picture.card-1 {
  background-image: url('../images/jon-won.jpg');
}
.ending-picture.card-2 {
  background-image: url('../images/cersie-won.png');
}
.ending-picture.card-3 {
  background-image: url('../images/night-king-won.jpg');
}
.ending-picture.lose {
  background-image: url('../images/lose.jpg');
}